Page {
    background-color: white;
    font-size: 20;
}

Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}

Button {
  background-color: #326ee5;
  color: #ffffff;
}

.button-delete {
  background-color: #d81717;
  color: #ffffff;
}